* {
	box-sizing:border-box;
	cursor:default;
	font-family: 'Cinzel', serif;
}
*:focus {
	outline:none;
}
#list1 {
	font-size: 3em;
    background-color: silver;
    color: #8A0707;
    border-radius: 78px 12px;
    text-align: center;
    cursor: text;
    width: 50rem;
}
td:nth-child(2) {
	width: 20rem;
}
body {
	font-family: 'Cinzel',serif;
}
.container-fluid {
	width: 800px;
}
.fullTable {
	margin-top: 3rem;
	margin-left: 42rem;
	width:50rem;
	font-size:2em;
}
.addProduct {
	font-size:3em;
	background-color:silver;
	color:#8A0707;
	border-radius: 78px 12px;
	text-align:center;
	cursor:text;
}
#btn_AddToList {
	font-size: 2em;
    background-color: silver;
    color: #8A0707;
    border-radius: 12px 78px;
    text-align: center;
    font-family: 'Cinzel', serif;
    cursor:pointer;

}
.title {
	font-size: 7em;
	text-align: center;
}
.title2 {
	float: right;
	font-size: 3em;
	Text-align: center;
}
li {	
	list-style:none;
}
button {
	height: 100%;
    width: 50%;
    border-radius: 10%;
    cursor:pointer;
    color: #8A0707;
    font-size: larger;
}
.buyNowButton	{
	margin-left: 25%;
	text-align: center;
	width:30%;
	height:3em;
}
.stuff, .cost {
	margin-top: 3%;
    width: 50%;
    margin-left: 25%;
}
.thisRow {


}